{{ define "base"}}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/styles.css">
  <script src="/public/javascript/htmx.min.js"></script>
  <title>{{ template "page-title" }}</title>
</head>
<body class="bg-gray-100 text-gray-900">
  <div class="">
    <div class="m-auto w-full">
      <nav class="bg-white flex flex-row items-center">
        <div id="logo" class="p-4">
          <img src="/public/img/xneelo-log.webp" alt="" class="w-full object-cover">
        </div>
      </nav>
    </div>

    {{block "content" .}}

    {{end}}
  </div>
</body>
</html>
{{ end }}