{{ template "base" . }}

{{ define "page-title"}}Domain-API Dashboard{{ end }}

{{ define "content" }}
    <main class="max-w-screen-lg mx-auto relative" x-data>
      <div class="m-4">
        <form
          id="dashboard-form"
          class="flex items-center"
        >
          <label class="w-1/6 text-right" for="search">Search:</label>
          <select name="search-by" id="search-id"
            class="ml-2 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" 
          >
            <option value="domain">Domain Name</option>
            <option value="account">Account No</option>
            <option value="client">Client No</option>
          </select>
          <input
            type="search"
            id="search"
            name="search"
            class="pr-4 w-full ml-2 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-gray-500 focus:border-gray-500" placeholder="Enter search value (min 3 character required)..."
            hx-post="/search"  
            hx-target="#search-results"
            hx-indicator="#loading"
            hx-trigger="input changed delay:500ms, search"
            @htmx:after-request="console.log('got here')"
          >
        </form>
  
        <div class="relative overflow-x-auto rounded mt-4">
            <table class="w-full text-sm text-left rtl:text-right">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Domain Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Account No
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Client No
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Bill for Reg
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Active
                        </th>
                    </tr>
                </thead>
                <tbody id="search-results">
  
                </tbody>
            </table>
            <span id="loading" class="htmx-indicator">
              <img src="/public/img/loading.gif" alt="loading..." class="mt-2 m-auto h-10">
            </span>
        </div>
      </div>
    </main>

    <script>
      document.body.addEventListener('htmx:beforeRequest', function(evt){
        const search = document.getElementById("search");
        const searchResults = document.getElementById("search-results");
        if (searchResults) {
          searchResults.innerHTML = "";
        }
  
        if (search.value.length < 3) {
          // evt.preventDefault() cancels the request
          evt.preventDefault();
          return
        }
      });

      const form = document.getElementById("dashboard-form");
      if (form) {
        form.addEventListener('submit', (evt) => {
          evt.preventDefault()
        })
      }
    </script>
 {{ end }}

 {{ block "dashboard-search-result" .}}
  {{ range .Domains }}
  <tr class="bg-white border-b">
    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
        {{ .DomainName }}
    </th>
    <td class="px-6 py-4">
       {{ .AccountNo }} 
    </td>
    <td class="px-6 py-4">
        {{ .ClientNo }}
    </td>
    <td class="px-6 py-4 text-center">
        {{ .BillForReg }}
    </td>
    <td class="px-6 py-4">
      {{ .Status }}
    </td>
    <td class="px-6 py-4">
      {{ if .Active }}
      <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>
      {{ else }}
      <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">Inactive</span>
      {{ end }}
    </td>
  </tr>
  {{ end }}
{{ end }}